{
  "agent_buffer_font_size": 14.0,
  "agent_ui_font_size": 14.0,
  "base_keymap": "Cursor",
  "minimum_split_diff_width": 130.0,
  "cli_default_open_behavior": "existing_window",
  "agent_servers": {
    "better-droid": {
      "favorite_models": [
        "custom:GPT-5.5-sub-high-15"
      ],
      "type": "custom",
      "command": "/var/home/milton/Workspaces/P/better-droid-acp/target/debug/better-droid-acp",
      "env": {
        "BETTER_DROID_ACP_CONFIG": "/var/home/milton/Workspaces/P/better-droid-acp/examples/better-droid-acp.toml",
        "RUST_LOG": "better_droid_acp=debug,trace",
        "BETTER_DROID_ACP_TRACE_LOG": "/tmp/better-droid-acp-trace.log"
      }
    },
    "codex-acp": {
      "favorite_config_option_values": {
        "model": [
          "gpt-5.5"
        ]
      },
      "type": "registry"
    },
    "cursor": {
      "type": "registry"
    },
    "factory-droid": {
      "favorite_models": [
        "custom:GPT-5.5-sub-high-15",
        "custom:GPT-5.5-sub-xhigh-16",
        "custom:GPT-5.5-api-high-8",
        "custom:Opus-4.7-local-bedrock-max-6"
      ],
      "type": "registry"
    }
  },
  "edit_predictions": {
    "provider": "zed"
  },
  "buffer_font_family": "JetBrains Mono",
  "session": {
    "trust_all_worktrees": true
  },
  "inline_code_actions": true,
  "gutter": {
    "line_numbers": true,
    "folds": true,
    "runnables": false,
    "breakpoints": false
  },
  "languages": {
    "YAML": {
      "format_on_save": "on",
      "tab_size": 2
    },
    "JSON": {
      "tab_size": 2,
      "format_on_save": "on",
      "formatter": "language_server"
    },
    "JSONC": {
      "tab_size": 2,
      "format_on_save": "on",
      "formatter": "language_server"
    }
  },
  "preview_tabs": {
    "enable_keep_preview_on_code_navigation": true
  },
  "debugger": {
    "format_dap_log_messages": true,
    "log_dap_communications": true,
    "save_breakpoints": true,
    "dock": "left"
  },
  "collaboration_panel": {
    "dock": "right"
  },
  "outline_panel": {
    "dock": "left"
  },
  "context_servers": {},
  "ssh_connections": [
    {
      "host": "box",
      "args": [],
      "projects": [
        {
          "paths": [
            "/home/milton/Workspaces/AT/lorenz"
          ]
        },
        {
          "paths": [
            "/home/milton/Workspaces/P/better-droid-acp"
          ]
        },
        {
          "paths": [
            "/home/milton/Workspaces/P/better-droid-acp/./"
          ]
        },
        {
          "paths": [
            "/home/milton/Workspaces/P/hal-hermes/./"
          ]
        },
        {
          "paths": [
            "/var/home/milton/.config/fish"
          ]
        },
        {
          "paths": [
            "~/Workspaces/A/abantu"
          ]
        },
        {
          "paths": [
            "~/Workspaces/H/hal"
          ]
        }
      ]
    }
  ],
  "vim_mode": true,
  "git_panel": {
    "tree_view": true,
    "dock": "right"
  },
  "agent": {
    "favorite_models": [
      {
        "provider": "anthropic",
        "model": "claude-opus-4-6-thinking-latest",
        "enable_thinking": false
      },
      {
        "provider": "anthropic",
        "model": "claude-sonnet-4-6-1m-context-thinking-latest",
        "enable_thinking": false
      },
      {
        "provider": "copilot_chat",
        "model": "gemini-3-flash-preview",
        "enable_thinking": false
      },
      {
        "provider": "anthropic",
        "model": "claude-sonnet-4-6-latest",
        "enable_thinking": true,
        "effort": "high"
      },
      {
        "provider": "openai",
        "model": "gpt-5.4",
        "enable_thinking": false
      }
    ],
    "tool_permissions": {
      "default": "allow"
    },
    "use_modifier_to_send": false,
    "inline_assistant_model": {
      "provider": "anthropic",
      "model": "claude-sonnet-4-5-latest"
    },
    "play_sound_when_agent_done": "always",
    "profiles": {
      "write": {
        "name": "Write",
        "tools": {
          "search_web": true,
          "copy_path": true,
          "create_directory": true,
          "delete_path": true,
          "diagnostics": true,
          "edit_file": true,
          "fetch": true,
          "list_directory": true,
          "project_notifications": false,
          "move_path": true,
          "now": true,
          "find_path": true,
          "read_file": true,
          "grep": true,
          "terminal": true,
          "thinking": true
        },
        "enable_all_context_servers": true,
        "context_servers": {
          "notion-tasks": {
            "tools": {
              "API-update-a-database": false,
              "API-update-a-block": false,
              "API-retrieve-a-page-property": false,
              "API-retrieve-a-page": false,
              "API-retrieve-a-database": false,
              "API-retrieve-a-comment": false,
              "API-retrieve-a-block": false,
              "API-post-search": false,
              "API-post-page": false,
              "API-post-database-query": false,
              "API-patch-page": false,
              "API-patch-block-children": false,
              "API-get-users": false,
              "API-get-user": false,
              "API-get-self": false,
              "API-get-block-children": false,
              "API-delete-a-block": false,
              "API-create-a-database": false,
              "API-create-a-comment": false
            }
          }
        }
      },
      "ask": {
        "name": "Ask",
        "tools": {
          "search_web": true,
          "terminal": false,
          "diagnostics": true,
          "fetch": true,
          "list_directory": true,
          "now": true,
          "find_path": true,
          "read_file": true,
          "grep": true,
          "thinking": true,
          "batch_tool": true
        },
        "enable_all_context_servers": false,
        "context_servers": {
          "notion-tasks": {
            "tools": {
              "API-update-a-database": false,
              "API-post-page": false,
              "API-post-search": true,
              "API-retrieve-a-block": true,
              "API-retrieve-a-page-property": true,
              "API-retrieve-a-page": true,
              "API-retrieve-a-database": true,
              "API-retrieve-a-comment": true,
              "API-get-user": true,
              "API-get-users": false
            }
          },
          "mcp-server-context7": {
            "tools": {
              "resolve-library-id": true,
              "get-library-docs": true
            }
          },
          "context7": {
            "tools": {
              "resolve-library-id": true,
              "get-library-docs": true
            }
          },
          "mcp-server-sequential-thinking": {
            "tools": {
              "sequentialthinking": true
            }
          }
        }
      }
    },
    "default_profile": "write",
    "commit_message_model": {
      "provider": "anthropic",
      "model": "claude-sonnet-4.6-latest"
    },
    "default_model": {
      "effort": "high",
      "enable_thinking": true,
      "provider": "anthropic",
      "model": "claude-sonnet-4-6"
    },
    "dock": "left",
    "default_width": 450
  },
  "project_panel": {
    "dock": "right",
    "auto_fold_dirs": false
  },
  "theme": "VSCode Dark Polished",
  "theme_overrides": {
    "VSCode Dark Polished": {
      "text": "#CCCCCC",
      "terminal.background": "#1a1a1a",
      "terminal.foreground": "#dadada",
      "terminal.bright_foreground": "#ffffff",
      "terminal.dim_foreground": "#5b5b5b",
      "terminal.ansi.background": "#1a1a1a",
      "terminal.ansi.black": "#1a1a1a",
      "terminal.ansi.red": "#d29393",
      "terminal.ansi.green": "#b3b393",
      "terminal.ansi.yellow": "#cbaa89",
      "terminal.ansi.blue": "#a8a1be",
      "terminal.ansi.magenta": "#b39fb0",
      "terminal.ansi.cyan": "#c0af8c",
      "terminal.ansi.white": "#dadada",
      "terminal.ansi.bright_black": "#5b5b5b",
      "terminal.ansi.bright_red": "#c95954",
      "terminal.ansi.bright_green": "#828040",
      "terminal.ansi.bright_yellow": "#a6794c",
      "terminal.ansi.bright_blue": "#5a6599",
      "terminal.ansi.bright_magenta": "#9c6995",
      "terminal.ansi.bright_cyan": "#74a39e",
      "terminal.ansi.bright_white": "#ffffff"
    }
  },
  "ui_font_size": 14.0,
  "buffer_font_size": 13.0,
  "show_wrap_guides": true,
  "wrap_guides": [
    88,
    120
  ],
  "soft_wrap": "editor_width",
  "show_whitespaces": "all",
  "relative_line_numbers": "enabled",
  "indent_guides": {
    "enabled": true,
    "coloring": "indent_aware",
    "background_coloring": "indent_aware"
  },
  "terminal": {
    "shell": {
{{- if eq .chezmoi.os "darwin" }}
      "program": "/opt/homebrew/bin/fish"
{{- else }}
      "program": "/usr/bin/fish"
{{- end }}
    },
    "dock": "bottom",
    "font_family": "JetBrains Mono",
    "font_size": 13,
    "font_weight": 400
  },
  "auto_install_extensions": {
    "html": true
  },
  "feature_flags": {
    "agent-panel-terminal": "on"
  }
}
