git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers

customCommands:
  - key: G
    description: Lazycommit
    command: bash ~/.config/lazygit/lazycommit.sh
    context: files
    output: terminal
