git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers --true-color=always --hunk-header-style=omit

customCommands:
  - key: g
    description: Lazycommit (checkpoint, no semantic)
    command: 'git commit -m "{{.Form.Msg}}"'
    context: files
    prompts:
      - type: menuFromCommand
        title: AI Commits (checkpoint)
        key: Msg
        command: "~/.config/lazygit/lazycommit-commit.sh ~/.config/lazygit/lazycommit.prompts.checkpoint.yaml"
        filter: '^(?P<raw>.+)$'
        valueFormat: "{{ .raw }}"
        labelFormat: "{{ .raw | green }}"
  - key: G
    description: Lazycommit (final, semantic no scope)
    command: 'git commit -m "{{.Form.Msg}}"'
    context: files
    prompts:
      - type: menuFromCommand
        title: AI Commits (final)
        key: Msg
        command: "~/.config/lazygit/lazycommit-commit.sh ~/.config/lazygit/lazycommit.prompts.final.yaml"
        filter: '^(?P<raw>.+)$'
        valueFormat: "{{ .raw }}"
        labelFormat: "{{ .raw | green }}"
