git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers --true-color=always --hunk-header-style=omit

customCommands:
  - key: G
    description: AI commit
    command: 'git commit -m "{{ "{{" }}.Form.Msg{{ "}}" }}"'
    context: files
    prompts:
      - type: menuFromCommand
        title: AI Commits
        key: Msg
        command: "'{{ .lazygit_dir }}/aicommit.sh'"
        filter: '^(?P<raw>.+)$'
        valueFormat: "{{ "{{" }} .raw {{ "}}" }}"
        labelFormat: "{{ "{{" }} .raw | green {{ "}}" }}"
