model: gemini:gemini-3-flash-low
clients:
  - type: gemini
    api_key: {{ protonPass "pass://Development/gemini-api-key/Secret" | trim }}
    models:
      - name: gemini-3-flash-low
        real_name: gemini-3-flash-preview
        patch:
          body:
            generationConfig:
              thinkingConfig:
                thinkingLevel: low
  - type: claude
    api_key: {{ protonPass "pass://Development/anthropic-api-key/Secret" | trim }}
