{{- $devinApiKey := protonPass "pass://Development/devin-mcp/Secret" | trim -}}
{
  "mcpServers": {
    "context7": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp"
      ],
      "env": {}
    },
    "shadcn": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "shadcn@latest",
        "mcp"
      ],
      "env": {}
    },
    "devin": {
      "type": "http",
      "url": "https://mcp.devin.ai/mcp",
      "headers": {
        "Authorization": "Bearer {{ $devinApiKey }}"
      }
    },
    "deepwiki": {
      "type": "http",
      "url": "https://mcp.deepwiki.com/mcp"
    }
  }
}
